.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 80px);
  width: 100%;
  padding: 20px;
  position: relative;
  margin-top: -20px;
  background: url("/bg.jpg") no-repeat center center fixed;
  background-size: cover; 
}

.home-container {
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 16px;
  box-shadow: 0px 12px 28px rgba(0, 0, 0, 0.3);
  padding: 50px;
  max-width: 600px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
  min-height: 450px;
}

.logo-container {
  margin-bottom: 10px;
}

.logo {
  border-radius: 10px;
  width: 280px; 
  height: 140px; 
}

.homeHead {
  color: #2f484c;
  font-size: 2.8rem;
  margin: 25px 0;
  line-height: 1.3;
  font-weight: 700;
}

p {
  color: #333;
  font-size: 1.2rem;
  margin-bottom: 30px;
  line-height: 1.7;
}

.buttons-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
  width: 100%;
}

.button {
  background: linear-gradient(135deg, #2f484c, #507e86);
  color: #ffffff;
  padding: 15px 30px;
  font-size: 1.1rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: background 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background: linear-gradient(135deg, #507e86, #2f484c);
  transform: translateY(-4px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}

@media (max-width: 600px) {
  .home-container {
      padding: 30px;
  }
  .buttons-container {
      flex-direction: column;
  }
  .homeHead {
      font-size: 2.2rem;
  }
  p {
      font-size: 1rem;
  }
  .button {
      padding: 12px 20px;
      font-size: 1rem;
  }
}
